<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <header>
    <h1>About Page</h1>
  </header>
  <main>
    <p>
      This is a tool to save, edit, view, and delete data on various countries.
    </p>
    <nav class="nav">
      <a class="nav-link active" th:href="@{/index}">Back To Homepage</a>
    </nav>
  </main>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>